{% extends "base.html" %}

{% block title %}
    Confirmar exclusão Cidade
{% endblock title%}

{% block content %}
    <h1>Excluir Cidade?</h1>
        <p class="lead">Essa ação irá deletar todos os outros registros vinculados a <strong>{{cidade.nome_cidade}}</strong>.</p>
        <hr>
        
        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            <a href="{% url "cidade-list" %}" class="btn btn-primary btn-sm">Voltar</a>
        </form>
{% endblock content %}