{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if formaPagamento.pk %}
        Editar Forma de Pagamento
        
    {% else %}
       Criar Forma de Pagamento

    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if formaPagamento.pk %}
        <h1>Editar Forma de Pagamento</h1>
    
    {% else %}
     <h1>Cadastrar nova Forma de Pagamento</h1>
     <p class="lead">
        Preencha todos os campos obrigatórios!
     </p>
     <hr>

    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{form | crispy}}

        <div style="text-align: left;">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'formaPagamento-list' %}" class="btn btn-secondary">Voltar</a>
        <div>
    </form>
    
{% endblock content %}