{% extends "base.html" %}

{% block title %}

    Confirmar exclusão Forma de pagamento

{% endblock title %}

{% block content %}

    <h1>Excluir Forma de pagamento?</h1>
    <p class="lead">Essa ação irá deletar todos os outros registros vinculados ao <strong>{{formaPagamento.nome_forma_pgto}}</strong>.</p>
    <hr>
        
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
        <a href="{% url "formaPagamento-list" %}" class="btn btn-primary btn-sm">Voltar</a>
    </form>

{% endblock content %}