{% extends "base.html" %}

{% block title %}
    Confirmar exclusão Cargo
{% endblock title%}

{% block content %}
    <h1>Excluir Cargo?</h1>
        <p>Tem certeza que quer excluir o cargo <strong>{{cargo.nome_cargo}}</strong>?</p>
        <p class="lead">Essa ação irá deletar todos os outros registros vinculados a <strong>{{cargo.nome_cargo}}</strong>.</p>
        <hr>        
        
        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            <a href="{% url "cargo-list" %}" class="btn btn-primary btn-sm">Voltar</a>
        </form>

{% endblock content %}