{% extends "base.html" %}

{% block title %}
    Confirmar exclusão de Compra
{% endblock title %}

{% block content %}
    <h1>Excluir Compra?</h1>
        <p class="lead">Essa ação irá deletar todos os outros registros vinculados a <strong>{{compra.produto_id.nome_produto}}</strong>.</p>
        <hr>
        
        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            <a href="{% url "compras-list" %}" class="btn btn-primary btn-sm">Voltar</a>
        </form>
{% endblock content %}