{% extends "base.html" %}

{% block title %}
    Confirmar exclusão Pais
{% endblock title%}

{% block content %}
    <h1>Excluir Pais?</h1>
        <p class="lead">Essa ação irá deletar todos os outros registros vinculados a <strong>{{pais.nome_pais}}</strong>.</p>
        <hr>
           
        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            <a href="{% url "pais-list" %}" class="btn btn-primary btn-sm">Voltar</a>
        </form>
{% endblock content %}