{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if tipo.pk %}
        Editar tipo
        
    {% else %}
       Criar tipo

    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if tipo.pk %}
        <h1>Editar tipo</h1>
        <p class="lead">
            Mantenha os campos obrigatórios preenchidos!
         </p>
         <hr>
    {% else %}
     <h1>Cadastrar novo tipo</h1>
     <p class="lead">
        Preencha todos os campos obrigatórios!
     </p>
     <hr>

    {% endif %}

    <div class="container">
        <div class="form-row justify-content-center">
            <div class="col-md-8">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row" style="display: flex; justify-content: space-between;">

                        <div class="form-group col-md-6 mb-0" style="margin-right: 10px;">
                            {{ form.nome_tipo|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0" style="margin-right: 10px;">
                            {{ form.descricao_tipo|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6" style="margin-top:30px;">
                            <a href="{% url 'tipo-list' %}" class="btn btn-secondary">Add</a>
                        </div>
                    </div> 
    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a href="{% url 'tipo-list' %}" class="btn btn-secondary">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}