{% extends "base.html" %}

{% block title %}
    Confirmar exclusão Fornecedor
{% endblock title%}

{% block content %}
    <h1>Excluir Fornecedor?</h1>
        <p class="lead">Essa ação irá deletar todos os outros registros vinculados ao <strong>{{fornecedor.razao_social_fornecedor}}</strong>.</p>
        <hr>
        
        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            <a href="{% url "fornecedor-list" %}" class="btn btn-primary btn-sm">Voltar</a>
        </form>
{% endblock content %}